body {
    background-image: url("https://yallabook.com/blog/uploade/files/150617_07f7cff76d.jpg");
}
	h1 {
    color:DarkOliveGreen;
    margin-left: 20px;
}

	h2 {
    color: DarkOliveGreen;
    margin-left: 40px;
} 


		head { 
	color: DarkOliveGreen; 
	margin-left: 40px:
}


body { 
    font-family: "Times New Roman", Times, serif;
}

title {
    font-family: "Times New Roman", Times, serif;
}

p {
    font-family: "Times New Roman", Times, serif;
}

a {
    color:SlateGray
}

iframe {
		margin-left: 10%;
	}

