body {
    background-image: url("https://drive.google.com/open?id=0B849iSU2VeR_QkNianZMeFRQR1k");
}
	h1 {
    color:Pink;
    margin-left: 20px;
}

	h2 {
    color: Pink;
    margin-left: 40px;
} 


		head { 
	color: Pink; 
	margin-left: 40px:
}


body { 
    font-family: "Times New Roman", Times, serif;
}

title {
    font-family: "Times New Roman", Times, serif;
}

p {
    font-family: "Times New Roman", Times, serif;
}

a {
    color:SlateGray
}

iframe {
		margin-left: 10%;
	}

