body {
    background-image: url("http://shushi168.com/data/out/62/36002859-dark-forest-wallpaper.jpg")
}
	h1 {
    color:Green;
    margin-left: 20px;
}

	h2 {
    color: Green;
    margin-left: 40px;
} 


		head { 
	color: Green; 
	margin-left: 40px:
}


body { 
    font-family: "Times New Roman", Times, serif;
}

title {
    font-family: "Times New Roman", Times, serif;
}

p {
    font-family: "Times New Roman", Times, serif;
}

a {
    color:SlateGray
}

iframe {
		margin-left: 10%;
	}

